// fix floated ob height collapse
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

// center ob in both dimensions
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin silver-screen-ratio {
    width: 150rem; // silverscreen 21:9
    height: 64.29rem;
}

@mixin golden-ratio {
    width: 100rem; // 16:9
    height: 56.25rem;
}

// MEDIA QUERY MANAGER
/*
0-600px           Phone
600-900px         Tablet portrait
900-1200px        tablet landscape
[1200-1800px]     Desktop (normal styles)
1800+             Big dektop

breakpoint argument choices:
  phone
  tab-port
  tab-land
  big-desk


1em = 16px


ORDER: Base + Typography > General Layout + Grid > Page Layout > Components

*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 37.5em) { // 600px
        @content;
    }
    }
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) { // 900px
        @content;
    }
    }
    @if $breakpoint == tab-lan {
      @media (max-width: 75em) { //1200px
        @content;
    }
    }
    @if $breakpoint == big-desk {
      @media (min-width: 112.5em) { //1800px
        @content;
    }
    }
}
